<h1>Create Group</h1>
<%= form_with model:@group, local: true do |f| %>
    <%= f.label :グループ名 %>
    <%= f.text_field :name %></br>
    <%= f.label :紹介文 %>
    <%= f.text_area :introduction%></br>
    <%#= f.attachment_field :image %>
    <%= f.submit 'create group', :class=>"btn btn-primary" %>

<% end %>